<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development Autoreload</title>
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="https://github.com/retorica-puzzle/Easy-Sass-Dev" target="_blank">Easy Sass Dev</a>
            </div>
            <ul class="navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <section id="app">
        <div class="app">
            <h1>My Static Website</h1>
        </div>
        </div>
    </section>
    <footer>
        <div class="footer-wrapper">
            <span><a href="https://github.com/retorica-puzzle" target="_blank">Retorica-Puzzle</a></span>
        </div>
    </footer>
    <script src="assets/js/app.js"></script>
</body>

</html>