@import 'app/variabel';

//Base
@import 'app/base';

//Desktop
.footer-wrapper {

    display: flex;
    flex-direction: row;
    gap: 20;

    .footer-wrapper__left {
        
    }

    .footer-wrapper__center {

    }

    .footer-wrapper__right {

    }
}